/*-----------------------------------------------------------------
	| COLOR CLASSES
-----------------------------------------------------------------*/
.text-color {
	color: $text-color;
}
.main-color-bg {
	background-color: $main-color;
}

.header-one {
	color: $blue;
    text-shadow: -4px 5px 0 $red;
}
.header-two {
	color: $blue;
    text-shadow: -4px 5px 0 $white;
}


/*-----------------------------------------------------------------
	| DISPLAY CLASSES
-----------------------------------------------------------------*/
.inline-me {
	float: none;
	display: inline-block;
	vertical-align: middle;
}


.mt-1 {
	margin-top: 1rem !important;
}
.mb-2 {
	margin-bottom: 2rem !important;
}



/*-----------------------------------------------------------------
	| TEXT CLASSES
-----------------------------------------------------------------*/
.main-font {
	/*font-family: 'Muli', sans-serif;*/
	font-family: 'Dosis', sans-serif;
}
.sec-font {
	/*font-family: 'Philosopher', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
}
.fw-700 {
	font-weight: 700 !important;
}
.uppercase {
	text-transform: uppercase;
}


.text-link {
	text-decoration: underline;

	&:hover, &:active {
		text-decoration: none;
	}
}