/*-----------------------------------------------------------------
    | FONTS
-----------------------------------------------------------------*/
$main-font: 'Source Sans Pro', Arial, sans-serif;
$sec-font: 'Teko', Arial, sans-serif;


/*-----------------------------------------------------------------
    | COLORS
-----------------------------------------------------------------*/
$text-color: #000000;
$sec-text-color: #d2d2bb;
$white: #fff;
$main-color: #fae623;
$sec-color: #282828;



$dark-red: #bd2029;
$blue: #00abe9;
$orange: #ef5422;
$red: #ec252a;



/*-----------------------------------------------------------------
    | MIXINS
-----------------------------------------------------------------*/
@mixin border-radius($radius) {
  	-webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}