/*-----------------------------------------------------------------
    | FONTS
-----------------------------------------------------------------*/
$main-font: 'Source Sans Pro', Arial, sans-serif;
$sec-font: 'Teko', Arial, sans-serif;


/*-----------------------------------------------------------------
    | COLORS
-----------------------------------------------------------------*/
$text-color: #000000;
$white: #fff;
$main-color: #fae623;
$sec-color: #282828;

/*$green: rgb(135,211,0);
$lgreen: rgb(135,211,134);

$grey: rgb(236,240,241);
$dgrey: rgb(100,100,100);
$orange: rgb(253,227,167);*/
$red: rgb(246,71,71);




/*-----------------------------------------------------------------
    | MIXINS
-----------------------------------------------------------------*/
@mixin border-radius($radius) {
  	-webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}